
<footer class=" text-center text-lg-start bg-light text-muted">
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </section>
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Nimap infotech
          </h6>
          <p>
         <strong>Nimap Infotech</strong> is the top mobile app development company and web app developement company in mumbai with over 350+ app build in Android, ios and Web
          </p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

          <h6 class="text-uppercase fw-bold mb-4">
            Services
          </h6>
          <p>
            <a href="#!" class="text-reset">Mobile app developoement</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Web app developement </a>
          </p>
          <p>
            <a href="#!" class="text-reset">UI/UX Design</a>
          </p>
          <p>
            <a href="#!" class="text-reset">IT staff augmentation</a>
          </p>
        </div>



        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Hire Developers
          </h6>
          <p>
            <a href="#!" class="text-reset">AngularJS Developement</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Hire ReactJS Developers</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Hire React Native Developers</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Hire Flutter Developers</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Hire Ionic Developers</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Hire Software tester</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Hire Meteor Developer</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Hire RoR Developer</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Hire Nodejs Developer</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Hire Angular8 Developer</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Hire Laravel Developers</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Hire CodeIgniter Developers</a>
          </p>
        </div>



        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fas fa-home me-3"></i> 41, 4th floor A-wing, Todi Industrial Estate Sum Mill compound Road, Lower Parel, Mumbai, Maharashtra 400012</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            hr@nimapinfotech.com
          </p>
          <p><i class="fas fa-phone me-3"></i> +91 22 - 66395181 / 82</p>
          <p><i class="fas fa-print me-3"></i> +91 22 - 66395181 / 82</p>
        </div>
      </div>
    </div>
  </section>

  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="">Nimap Infotech</a>
  </div>

</footer>

