<section class="Quote">
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="question">
        <div class="question-header">
          <h3>FAQ</h3>
          <p>Most Popular Questions</p>
        </div>
        <ul class="question-menu">
          <li>
            <h2>1.What are step to hire developer <span>-</span> </h2>
            <p>In Nimap, we allow you to conduct a through interview process for our, developers and hire the dedicoted developer of your choices</p>
          </li>
          <li>
            <h2>2.Why Hire Dedicated developer<span>+</span></h2>
            <p>
              <input type="text">
            </p>
          </li>
          <li>
            <h2>3.Why Hire Dedicated developer <span>+</span></h2>
            <p>
              <input type="text">
            </p>
          </li>
          <li>
            <h2>4.How can i monitor and analyse developer performances<span>+</span></h2>
            <p>
              <input type="text">
            </p>
          </li>
          <li>
            <h2>5.Can I hire Developer for permanent<span>+</span></h2>
            <p>
              <input type="text">
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div class="input">
        <div class="input-head">
        <h2 >GET QUOTE</h2>
        <p>REQUEST A FREE QUOTE</p>
        </div>
        <ul class="input-form">
          <li>
            <input type="text" placeholder="Name">
          </li>
        <li>  <input type="text" placeholder="Email ID"></li>
          <li><input type="text" placeholder="Mobile"></li>
          <li class="input-form-item">
            <input type="text" placeholder="Description">
          </li>
        </ul>
        <div class="attach">
          <input type="text" placeholder="Attach Files" >
        </div>
        <div class="input-btn">
            <a href="">Send a Message</a>
          </div>
      </div>
    </div>
  </div>
</div>
</section>

<section class="testimonials">
  <div class="content-header">
    <h1>TESTIMONIALS </h1>
  </div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
     <div class="content">

  <p class="p-content">Nimap infotech was wibrant and robust in providing support for the project right from the start have been meeting of the expectiaions starting from br
   <br> the requirements analysis phoase towards the implementation of object with promt delivery even ofter requsting for multiple changes the were patient and polite in implementing the <br> project will reconmmend than for any kind of application developement work</p>
<ul style="list-style: none;" class="content-name">
  <li class="content-writer">Bharat Doshi</li>
  <li class="content-info">Marketing Manager</li>
  <li style="font-weight: 500;" class="content-brand" >Walmart</li>
</ul>
</div>
    </div>
  </div>
  </div>>
</section>

