<section class="services">
<div class="header"
><h3>
  OUR SERVICES
</h3>
<p>Our Dedicated Services To Skyrocket Your Business</p>
</div>
<div class="header-info">
  <div class="wrapper">
    <div class="input">
      <div class="input-box">
        <div class="input-logo">
          <img src="../../assets/icons/—Pngtree—new phone template black white_4982010.png" alt="">
          <p>Mobile App <br>
          Development</p>
        </div>
      </div>

    </div>
    <div class="input">
      <div class="input-box">
        <div class="input-logo">
          <img src="../../assets/icons/—Pngtree—website icon design vector_4988768.png" alt="">
          <p>Website <br>
          Development</p>
        </div>
      </div>
    </div>
    <div class="input">
      <div class="input-box">
        <div class="input-logo">
          <img src="../../assets/icons/—Pngtree—new phone template black white_4982010.png" alt="">
          <p>Enterprise <br> Solution
          </p>
        </div>
      </div>
    </div>
    <div class="input">
      <div class="input-box">
        <div class="input-logo">
          <img src="../../assets/icons/—Pngtree—website icon design vector_4988768.png" alt="">
          <p>SoftWare <br>
          Development</p>
        </div>
      </div>
    </div>
    <div class="input">
      <div class="input-box">
        <div class="input-logo">
          <img src="../../assets/icons/—Pngtree—new phone template black white_4982010.png" alt="">
          <p>Digital Marketing</p>
        </div>
      </div>
    </div>
    <div class="input">
      <div class="input-box">
        <div class="input-logo">
          <img src="../../assets/icons/—Pngtree—website icon design vector_4988768.png" alt="">
          <p>Customer Software <br>
            Development</p>
        </div>
      </div>
    </div>
    <div class="input">
      <div class="input-box">
        <div class="input-logo">
          <img src="../../assets/icons/—Pngtree—new phone template black white_4982010.png" alt="">
          <p>Contract <br> & Partnership</p>
        </div>
      </div>
    </div>
    <div class="input">
      <div class="input-box">
        <div class="input-logo">
          <img src="../../assets/icons/—Pngtree—website icon design vector_4988768.png" alt="">
          <p>Customization <br> & Maintenance</p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<section class="choose">
  <div class="choose-header">
    <h3>TOP REASONS TO CHOOSE US</h3>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <ul class="chhose-list">
          <li>
           <h3>01</h3>
           <p>Assured Project <br> Satisfaction Gurantee</p>
          </li>
          <li>
            <h3>04</h3>
            <p>Hassle Free <br> Developement & Desigining</p>
           </li>
           <li>
            <h3>07</h3>
            <p>Excellent Sales Support <br> after Project Delivery</p>
           </li>
           <li>
            <h3>10</h3>
            <p>Flexible Project<br> Requirements Adoptability</p>
           </li>
           <li>
            <h3>13</h3>
            <p>Dynamic Requirements <br> Management</p>
           </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="chhose-list">
          <li>
           <h3>02</h3>
           <p>Dedicated <br> Project Manager</p>
          </li>
          <li>
            <h3>04</h3>
            <p>Extremely Industries <br> Competitive Costs</p>
           </li>
           <li>
            <h3>08</h3>
            <p>Expertise On Any <br> & All technology</p>
           </li>
           <li>
            <h3>11</h3>
            <p>One Flour Hiring<br> Developer Policy</p>
           </li>
           <li>
            <h3>14</h3>
            <p>Zero Developer <br>Backout Policy</p>
           </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="chhose-list">
          <li>
           <h3>03</h3>
           <p>40 Hours <br> Risk Free Trial</p>
          </li>
          <li>
            <h3>06</h3>
            <p>Trusted By Fortune <br> 500 Companies</p>
           </li>
           <li>
            <h3>09</h3>
            <p>Regular <br> Client Updates</p>
           </li>
           <li>
            <h3>12</h3>
            <p> Project<br> Peace of Mind</p>
           </li>
           <li>
            <h3>15</h3>
            <p>Flexible<br> Contracts</p>
           </li>
        </ul>
      </div>
    </div>
  </div>
</section>


<section class="Project">
  <div class="project-item" >
  <h1>DO YOU HAVE A PROJECT IN MIND?</h1>
  <h3>Let's start a friendly conversion</h3>

  <div class="project-btn">
    <a href="">GET A FREE QUOTE</a>
  </div>
  </div>
</section>

<app-industry-info></app-industry-info>
<!--  -->
