<section class="industries">
<div class="header">
  <h1>INDUSTRIES WE CATER TO </h1>
  <p>We Serve And Cater To A Wide Variety Of industries Our Solutions focus On providing value no matter what industry You Work in</p>
</div>
<div class="industries-img" >

<div class="img-box">
    <img src="../../assets/Images/news-1.png" alt="">
    <p>BAFSI & Fintech</p>
</div>

<div class="img-box">
    <img src="../../assets/Images/news-2.png" alt="">
    <p>Healthcare & Pharmaceuticals</p>
</div>

<div class="img-box">
  <img src="../../assets/Images/news-3.png" alt="">
  <p>Media & Entertainment</p>
</div>
<div class="img-box">
  <img src="../../assets/Images/news-4.png" alt="">
  <p>Ed.Tech</p>
</div>
<div class="img-box">
  <img src="../../assets/Images/news-5.png" alt="">
  <p>Logistics & E-commerce </p>
</div>
<div class="img-box">
  <img src="../../assets/Images/news-6.png" alt="">
  <p>Government</p>
</div>

</div>
</section>

<section class="study">
 <div class="container">
   <div class="row">
     <div class="col-md-12">
      <div class="study-header">
        <h1>CASE STUDIES</h1>
      </div>
     </div>
   </div>
 </div>
 <div class="container">
   <div class="row">
     <div class="col-md-6">
       <div class="case-img">

         <img src="../../assets/Images/web-1 (1).png" alt="">
       </div>
     </div>
     <div class="col-md-6">
       <div class="info">
         <h3>Augmont Gold Loan</h3>
         <p>Cliens is a Bullian company that deals is the trads of colds</p>
         <p>They wanted to venture into the market of providing for customers in the most easiest and flexible way possible and the too without andy hassies ofr the customers</p>
         <p>They wanted customers to have  a plesant Gold dealing experence at which thay could take loans on that gold</p>
       </div>
       <div class="btn">
         <a href="">View Case Study</a>
       </div>
     </div>
   </div>
 </div>
 <div class="bottom-img">
   <div class="container">
     <div class="row">
       <div class="col-md-3">
        <div class="box">
          <img src="../../assets/Images/web-1 (2).png" alt="">
        </div>
       </div>
       <div class="col-md-3">
        <div class="box">
          <img src="../../assets/Images/web-1 (3).png" alt="">
        </div>
       </div>
       <div class="col-md-3">
        <div class="box">
          <img src="../../assets/Images/web-1 (4).png" alt="">
        </div>
       </div>
       <div class="col-md-3">
         <div class="boxl">
            <div class="box1">
              <i class="fas fa-chevron-left"></i>
            </div>
            <div class="box2">
              <i class="fas fa-chevron-right"></i>
            </div>
         </div>
       </div>

     </div>
   </div>
 </div>
</section>

