<header class="header">
  <div class="navigation">
    <div class="container">
      <nav class="nav">
        <div class="nav_logo">
          <a href="/" class="scroll-link">NIMAP INFOTECH</a>
        </div>
        <ul class="nav_list">

              <li class="nav_item">
                <a href="" class="nav_link scroll-link">SERVICES<span>+</span> </a>
              </li>
              <li class="nav_item">
                <a href="" class="nav_link scroll-link">HIRE DEVELOPERS<span>+</span></a>
              </li>
              <li class="nav_item">
                <a href="" class="nav_link scroll-link">PROJECT MANAGEMENT</a>
              </li>
              <li class="nav_item">
                <a href="" class="nav_link scroll-link">OUR SOLUTIONS<span>+</span></a>
              </li>
              <li class="nav_item">
                <a href="" class="nav_link scroll-link">COMPANY</a>
              </li>
            </ul>
      </nav>
    </div>
  </div>
</header>

