
<header class="hero flex align-items">
  <div class="content">
    <div class="hero-image">
      <img  src="../../assets/Images/Artboard – 19.png" alt="">
    </div>
 <div class="take">
 <div class="take1">
  <h1>TAKE A SMART <br><span>DIGITAL </span>MOVE</h1>
  <div class="par">
   <p>DIGITAL TRANSFORMATION DONE RIGHT</p>
   <P style="margin-left: 70px;">DELIVERY ON TIME</P>
  </div>
 </div>

    <div class="time">
        <div class="time-right">
           <h3><span>1</span >Hour </h3>
           <p>Hire Developer On-Demand</p>
           <p>Software Expert</p>
        </div>
        <span class="line"></span>
        <div class="time-left">
          <h3><span>40</span>Hours</h3>
          <p>Risk-free trial on-board only<br>
            if satisfied</p>
        </div>
    </div>
      <div class="info">
       <a href="">SAVE UPTO <span>40%</span> ON DEVELOPEMENT <span>COST & TIME </span></a>
      </div>
      <div class="btn">
        <a href="">TALK TO US</a>
      </div>
      </div>
      <div class="hero-image">
        <img  src="../../assets/Images/Artboard – 20.png" alt="">
      </div>
  </div>
</header>

<section class="hero-bottom">
<div class="container">
  <div class="row">
    <div class="col-md-8  hero-content">
      <div class="hero-item">
            <h3>
              YOUR <span>TRUSTED</span> SOURCE FOR SOFTWARE DEVELOPMENT SINCE <span>2009</span>
            </h3>
            <div class="hero-content-text">
              <p>Hire The Best Software Development Team/s</p>
            </div>
            <ul class="hero-content-list">
              <li>-Under 1 Hour</li>
              <li>-on ANY Technology</li>
              <li>-At Extremely Competitive and Affordable Costs</li>
              <li>-Without the Developer Backing out</li>
              <li>-Under 1 Hour</li>
            </ul>
            <div class="hero-btn">
              <a href="">SELECT DEVELOPER</a>
            </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="hero-img">
        <img src="../../assets/Images/Artboard – 14.png" alt="">
      </div>
    </div>
  </div>
</div>
</section>
<section class="hero-info">
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="hero-box">
        <h2>WHO WE ARE</h2>
        <p class="p1">We are a leading software Developement & Outsourcing company based in mumbai we provide on Demand software developement teams on any technology & that to within 1 hour</p>
        <p class="p2">Hire 1 to 35 developers through Roads. Our highly appreciated and implemented System. Resource as a Service system</p>


        <div class="hero-btn">
          <a href="">KNOW MORE</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="hero_box">
        <div class="box1">
         <div class="box-i">
          <h3>12+</h3>
          <p>Seccessfully <br>
             Years</p>
        </div>
      </div>
        <div class="box2">
          <div class="box-i">
          <h3>200+</h3>
          <p>Developers <br> Strong</p>
          </div>
        </div>
        <div class="box3">
          <div class="box-i">
          <h3>1200+</h3>
          <p>Projects <br> Completd</p>
           </div>
        </div>
        <div class="box4">
          <div class="box-i">
          <h3>99%</h3>
          <p>Customer <br> Satisfaction</p>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<section class="needs">
<div class="content">
  <div class="header">
    <h3>TECHNOLOGY EXPERTISE TO MEET YOUR NEEDS</h3>
    <P>We Have A Wide Range of Technology Expertise That You Can Choose From. Catering To Companies Small Or Big</P>
  </div>
</div>
<ul class="header-menu">
  <li class="header-items">
    <a href="" class="active">FrontEnd Framwork</a>
  </li>
  <li>
    <a href="">Backend Technologies</a>
  </li>
  <li>
    <a href="">Mobile Technologies</a>
  </li>
  <li>
    <a href="">Database</a>
  </li>
  <li>
    <a href="">Other</a>
  </li>
</ul>
</section>

<div class="wrapper">
  <div class="input"></div>
  <div class="input"></div>
  <div class="input"></div>
  <div class="input"></div>
  <div class="input"></div>
  <div class="input"></div>
  <div class="input"></div>
  <div class="input"></div>
  <div class="input"></div>
  <div class="input"></div>
  <div class="input"></div>
  <div class="input"></div>
  <div class="input"></div>
  <div class="input"></div>
  <div class="input"></div>
  <div class="input"></div>
  <div class="input"></div>
  <div class="input"></div>
  <div class="input"></div>
  <div class="input"></div>
  <div class="input"></div>
  <div class="input"></div>
  <div class="input"></div>

</div>
<!--  -->
